/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// // Стили для файла с примером HTML-фрагмента
// @import './example';
// @import './pagination';
.tui-pagination .tui-is-selected,
.tui-is-selected strong  {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(82, 66, 66);
    background: #ff6b08;
    border-color: #ff6b08;
    border-radius: 5px;
    cursor: default;
}