<div class="lightbox js-lightbox visually-hidden">
  <div class="modal-background">
    <div class="lightbox__content">
      <button type="button" class="lightbox__button button-close" data-action="close-lightbox">
        <svg width="35" height="35" class="close-modal-button">
          <use href="./images/sprite.svg#icon-close-modal-button"></use>
        </svg>
      </button>

      <ul class="team">
        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/andrey-st.jpg"
            alt="photo Andrey"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Andrey</h2>
          <span class="contacts-link-type">Team Lead</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/AndreyShyshko" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/vadim-lo.jpg"
            alt="photo Vadim"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Vadim</h2>
          <span class="contacts-link-type">scrum</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/vadym-loik" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/ihor-mos.jpg"
            alt="photo Ihor"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Ihor</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/igormos1" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/lidiya-lev.jpg"
            alt="photo Lidiya"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Lidiya</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/Lidokl" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/maks-kir.jpg"
            alt="photo Maks"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Maks</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/Industrialguard" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/mariya-kon.jpg"
            alt="photo Mariya"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Mariya</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/MariiaKon" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/slava-al.jpg"
            alt="photo Slava"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Slava</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/viktoria-vi.jpg"
            alt="photo Vika"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Vika</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/victoriaviter" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/volodymir-ukr.jpg"
            alt="photo Volodymir"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Volodymir</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/vovaukrainets" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>

        <li class="team-list">
          <img
            class="lightbox__image"
            src="./images/developers/andrey-st.jpg"
            alt="photo Vadim"
            width="150px"
            height="150px"
          />
          <h2 class="team-name">Andrey</h2>
          <span class="contacts-link-type">Developer</span>
          <div class="modal-links">
            <a class="team-link" href="https://github.com/Pirlovski" target="_blank">
              <svg class="social-link-icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
