<header>
    <div class="container">
      <nav class="header__nav">
        <a href="" class="header__logo">
          <svg class="header__logo-svg">
            <use href="./images/svg/film.svg#film"></use>
          </svg>
          <h1 class="header__name-logo">Filmoteka</h1>
        </a>
        <ul class="header__nav-list">
          <li>
            <button class="header__nav-link current_page" id="headerHomeBtn">Home</button>
          </li>
          <li>
            <button class="header__nav-link" id="headerLibraryBtn">my library</button>
          </li>
        </ul>
        <a href="#header" class="header__up-btn up-btn-way">
          <svg class="icon-up" width="60" height="60" >
            <use href="./images/svg/film-up.svg#Layer_1"></use>
          </svg>
          <p class="up-text">Click to Up!</p>
      </a>
      </nav>
      <div class="header__home-content">
        <form class="header__form">
          <input 
          type="text" 
          name="searchInput" 
          placeholder="Поиск фильмов" 
          class="header__form-input"
          autocomplete="off"
          />
          <button class="header__form-submit" type="submit">
            <svg class="header__form-img">
              <use href="./images/svg/search 2.svg#search 2"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="header__library-content header__content-hide">
        <ul class="header__library-btnList">
          <li><button type="button" class="btn btn-main" id="btn__header-watched">WATCHED</button></li>
          <li><button type="button" class="btn btn-main" id="btn__header-queue">QUEUE</button></li>
        </ul>
      </div>
    </div>
  </header>