.header__up-btn {
  position: fixed;
  bottom: 190px;
  right: 10px;
  z-index: 1;
  text-align: center;

  @media screen and (min-width: 768px) {
    bottom: 120px;

    &:hover .icon-up {
      animation: movieScale 450ms linear 55ms both;
    }
  }

  @media screen and (min-width: 1024px) {
    bottom: 114px;
    right: 28px;
  }
}

.up-btn-way {
  display: none;
}

.icon-up {
  position: relative;
  width: 42px;
  height: 42px;

  @media screen and (min-width: 768px) {
    animation: movieScaleLoad 450ms linear 55ms both;
    width: 45px;
    height: 45px;
  }

  @media screen and (min-width: 1024px) {
    width: 60px;
    height: 60px;
  }
}

.up-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $accent-color;
  text-align: center;
}

@keyframes movieScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(0.7);
  }
}

@keyframes movieScaleLoad {
  0% {
    transform: rotate(360deg) scale(0.5);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
