.home-container,
.watched,
.queue {
  background-color: inherit;
  display: grid;
  max-width: calc(100vw - 20px * 2);
  grid-template-columns: 280px;
  grid-auto-rows: 443px;
  grid-gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    max-width: calc(100vw - 75px * 2);
    grid-template-columns: repeat(2, 294px);
    grid-auto-rows: 440px;
    grid-gap: 30px;
    margin-bottom: 50px;
    margin-top: 60px;
  }

  @media screen and (min-width: 1024px) {
    max-width: calc(100vw - 71px * 2);
    grid-template-columns: repeat(3, 274px);
  }
}

.film-poster {
  height: 398px;
}

.film-poster img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.film-descr {
  background-color: inherit;
  margin-top: 10px;
  font-weight: 500;
  line-height: 16px;
}

.film-prewiev-title {
  text-transform: uppercase;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.film-prewiev-genre,
.film-prewiev-date {
  display: inline-flex;
  color: $accent-color;
}

.film-prewiev-date {
  margin-left: -2px;
}

.film-prewiev-genre li:not(:last-child)::after {
  content: ',\A0';
}

.film-prewiev-genre li:last-child::after {
  content: '\A0|\A0';
}

.prewiev-card {
  border-radius: 5px;
  background-image: url(../images/placeholder.gif);
  background-position: center;
  background-size: contain;
  background-color: inherit;
  transition: 300ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);

    & .film-poster img {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media screen and (min-width: 768px) {
      transform: scale(1.1);
    }
  }
}
